<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Fri Jul 10 2015 02:16:33 GMT+0000 (UTC) -->
<html data-wf-site="5588e8bd52a311f7085f67e3" data-wf-page="5588e8bd52a311f7085f67e5">
<head>
  <meta charset="utf-8">
  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Webflow">
  <%= stylesheet_link_tag "normalize.css" %>
  <%= stylesheet_link_tag "webflow.css" %>
  <%= stylesheet_link_tag "officialtrapapp.webflow.css" %>
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Oswald:300,400,700","Droid Sans:400,700","Roboto:300,regular,500"]
      }
    });
  </script>
  <script type="text/javascript" src="js/modernizr.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="https://daks2k3a4ib2z.cloudfront.net/img/favicon.ico">
  <link rel="apple-touch-icon" href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png">
</head>
<body>
  <div class="w-nav left-navigation" data-collapse="medium" data-animation="default" data-duration="400" data-no-scroll="1">
    <div class="w-container leftheader-container"><a class="leftheader-login" href="loginsignup.html">Login</a>
    </div><a class="w-nav-brand logo-link" href="#"><h1 class="brand-text">TRAP&nbsp;APP</h1></a>
    <nav class="w-nav-menu nav-menu" role="navigation"><a class="w-nav-link nav-link" href="#home">Home</a><a class="w-nav-link nav-link" href="#about">About</a><a class="w-nav-link nav-link" href="#gallery">Featured Artists</a><a class="w-nav-link nav-link" href="#contact">Contact</a>
    </nav>
    <div class="w-nav-button hamburger-button">
      <div class="w-icon-nav-menu"></div>
    </div>
    <div class="w-hidden-medium w-hidden-small w-hidden-tiny social-footer">
      <a class="w-inline-block social-icon-link" href="#"><img src="images/social-03-white.svg" width="17">
      </a>
      <a class="w-inline-block social-icon-link" href="#"><img src="images/social-18-white.svg" width="17">
      </a>
      <a class="w-inline-block social-icon-link" href="#"><img src="images/social-15-white.svg" width="17">
      </a>
      <a class="w-inline-block social-icon-link" href="#"><img src="images/social-14-white.svg" width="17">
      </a>
      <a class="w-inline-block social-icon-link" href="#"><img src="images/social-12-white.svg" width="17">
      </a>
      <a class="w-inline-block social-icon-link" href="#"><img src="images/social-08-white.svg" width="17">
      </a>
      <a class="w-inline-block social-icon-link" href="#"><img src="images/social-30-white.svg" width="17">
      </a>
    </div>
  </div>
  <div class="content">
    <div class="banner" id="home">
      <div class="hero-title-wrapper">
        <h1 class="hero-heading">trap app</h1>
        <div class="hero-subheading">The new way to market your music, and connect with artists.</div>
        <div><a class="hollow-button white landscape" href="loginsignup.html">&nbsp;SIGN UP FOR BETA</a>
        </div>
      </div>
    </div>
    <div class="w-section section" id="about">
      <div class="w-container">
        <div class="section-title-group">
          <h2 class="section-heading centered">What is trap app?</h2>
          <div class="section-subheading center">Trap is a mobile application that instantly connects listeners to an artist’s featured track with a scan of their personalized Trap icon. Instead of handing out a hard copy of your mixtape, make sharing your music easier with the Trap app.
            <br>
            <br>Trap users can customize their profile by posting favorited tracks to their gallery. Trap profile makes it possible for you to upload your business contact information and show off your personal style. No need to type in a search filter, just scan and share.</div>
        </div>
        <div class="w-row mainrow">
          <div class="w-col w-col-4 col-spc">
            <div class="clickitmobile">Click ––&gt; ––&gt;</div>
            <div class="click1div">Click –––––––––&gt;</div><img class="qrcodeimg" src="images/qrcode.png" width="100" data-ix="magic">
            <h3>Trap</h3>
            <div class="w-hidden-tiny clickit" data-ix="click-here-scroll-animtation"></div>
            <p class="main-p hidden_text" data-ix="display-on-click">Scan diamond Trap icon and get connected.
              <br>
              <br> Your Trap Spotlight will instantly start playing your number one traptrack.
              <br>Trap technology provides you with endless mobile tagging capabilities.
              <br>
              <br>Want to show your friends a traptrack you've discovered? Invite your friends to the Group Playlist or have them scan the traptrack icon on your mobile device.
              <br>
              <br>Sharing has never been easier.
              <br>
              <br>&nbsp;</p>
          </div>
          <div class="w-col w-col-4 col-spc">
            <div class="clickitmobile _2">Click ––&gt;&nbsp;</div>
            <div class="click1div">Click –––––––––&gt;</div><img class="_2ndimg" src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg" data-ix="profile-drop-down">
            <h3>Profile</h3>
            <p class="main-p2" data-ix="display-on-click-2">Set a profile picture to show off &nbsp;personal style.&nbsp;
              <br>
              <br> Fill out a digital <strong><em>business card</em></strong> to make professional connections.
              <br>
              <br> See how many followers you have and how many Liked your traptracks.
              <br>
              <br>Select which tracks you want featured on your Spotlight.
              <br>
              <br>Upload your original mixtape as a playlist.
              <br>
              <br>Post promotion <em><strong xmlns="http://www.w3.org/1999/xhtml">pictures</strong></em> for upcoming events.
              <br>
              <br>Keep a running record of every Trap you’ve Liked.
              <br>
              <br>Hear a traptrack you like on a friend’s profile? Show off the artist by <strong><em>reposting </em></strong>music you've discovered to your Trap Gallery.</p>
          </div>
          <div class="w-col w-col-4 col-spc">
            <div class="click1div">Click –––––––––&gt;</div><img class="mapsimg" src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg" data-ix="maps-drop-down">
            <div class="clickitmobile">Click ––&gt;&nbsp;</div>
            <h3>Maps</h3>
            <p class="main-p3" data-ix="display-on-click-3">Stay in touch with your followers; see where they are listening to music on Maps.
              <br>
              <br>Public Mode lets followers know where you are, and what you’re listening to.
              <br>
              <br> Private mode marks on Maps where you’ve added a follower, and doesn’t continuously share your location.
              <br>
              <br>Think you have the hottest tracks? Maps shows you the top four followers who have the most Liked traptracks. Ever wonder what music Steph Curry is listening to during warm ups? Celebrities’ listening can post publically to our Newsfeed. Along with the music listening of all your followers.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-section call-to-action-section">
      <div class="w-container">
        <div class="w-row">
          <div class="w-col w-col-8">
            <h2 class="call-to-action-heading smallheading">SIGN UP FOR BETA VERSION:</h2>
          </div>
          <div class="w-col w-col-4 align-right"><a class="hollow-button bottomsmall bottomland" href="loginsignup.html">Sign up</a>
          </div>
        </div>
      </div>
      <div class="w-form">
        <form class="signupform small" id="email-form-2" name="email-form-2" data-name="Email Form 2">
          <label class="fn" for="name-8">Name:</label>
          <input class="w-input firstname" id="name-8" type="text" placeholder="Enter your full name" name="name" data-name="Name 8">
          <label for="email-10">Email Address:</label>
          <input class="w-input emailadd" id="email-10" type="email" placeholder="Enter your email address" name="email" data-name="Email 10" required="required">
        </form>
        <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form</p>
        </div>
      </div>
    </div>
    <div class="w-section section" id="gallery">
      <div class="w-container">
        <div class="section-title-group">
          <h2 class="section-heading centered">Featured Artists</h2>
          <div class="section-subheading center">Current Artists Featured on the Trap</div>
        </div>
        <a class="w-lightbox w-inline-block grid-fours" href="#"><img class="profile_link" src="images/1f510c30-500px.jpg">
          <script type="application/json" class="w-json">
            { "items": [{
              "url": "images/1f510c30-500px.jpg",
              "fileName": "5537c67676ee39080f7f1b80_1f510c30-500px.jpg",
              "origFileName": "1f510c30-500px.jpg",
              "width": 500,
              "height": 500,
              "size": 28987,
              "type": "image"
            }] }
          </script>
        </a>
        <a class="w-lightbox w-inline-block grid-fours" href="#"><img class="profile_link" src="images/1fbb59d6-500px.jpg">
          <script type="application/json" class="w-json">
            { "items": [{
              "url": "images/1fbb59d6-500px.jpg",
              "fileName": "5537c6aafdb0e2d6015c563b_1fbb59d6-500px.jpg",
              "origFileName": "1fbb59d6-500px.jpg",
              "width": 500,
              "height": 500,
              "size": 12545,
              "type": "image"
            }] }
          </script>
        </a>
        <a class="w-lightbox w-inline-block grid-fours" href="#"><img class="profile_link" src="images/2jEqzi01Ru2HBhGLTBgB_MG_5236-500px.jpg">
          <script type="application/json" class="w-json">
            { "items": [{
              "url": "images/2jEqzi01Ru2HBhGLTBgB_MG_5236-500px.jpg",
              "fileName": "5537c6aa5f1065d401ce049c_2jEqzi01Ru2HBhGLTBgB_MG_5236-500px.jpg",
              "origFileName": "2jEqzi01Ru2HBhGLTBgB_MG_5236-500px.jpg",
              "width": 500,
              "height": 500,
              "size": 23419,
              "type": "image"
            }] }
          </script>
        </a>
        <a class="w-lightbox w-inline-block grid-fours" href="#"><img class="profile_link" src="images/2c0343f7-500px.jpg">
          <script type="application/json" class="w-json">
            { "items": [{
              "url": "images/2c0343f7-500px.jpg",
              "fileName": "5537c6aa76ee39080f7f1b87_2c0343f7-500px.jpg",
              "origFileName": "2c0343f7-500px.jpg",
              "width": 500,
              "height": 500,
              "size": 21945,
              "type": "image"
            }] }
          </script>
        </a>
        <a class="w-lightbox w-inline-block grid-fours" href="#"><img class="profile_link" src="images/3ae98ccd-500px.jpg">
          <script type="application/json" class="w-json">
            { "items": [{
              "url": "images/3ae98ccd-500px.jpg",
              "fileName": "5537c6ab5f1065d401ce049d_3ae98ccd-500px.jpg",
              "origFileName": "3ae98ccd-500px.jpg",
              "width": 500,
              "height": 500,
              "size": 17302,
              "type": "image"
            }] }
          </script>
        </a>
        <a class="w-lightbox w-inline-block grid-fours" href="#"><img class="profile_link" src="images/4JUAYmLTuS1mBvBBwe3D_St_Anton-500px.jpg">
          <script type="application/json" class="w-json">
            { "items": [{
              "url": "images/4JUAYmLTuS1mBvBBwe3D_St_Anton-500px.jpg",
              "fileName": "55312092f2553c4926c62a39_4JUAYmLTuS1mBvBBwe3D_St_Anton-500px.jpg",
              "origFileName": "4JUAYmLTuS1mBvBBwe3D_St_Anton-500px.jpg",
              "width": 500,
              "height": 500,
              "size": 33946,
              "type": "image"
            }] }
          </script>
        </a>
        <a class="w-lightbox w-inline-block grid-fours" href="#"><img class="profile_link" src="images/1w6iAjLXSHa5OYRSYAjd__MG_1162-500px.jpg">
          <script type="application/json" class="w-json">
            { "items": [{
              "url": "images/1w6iAjLXSHa5OYRSYAjd__MG_1162-500px.jpg",
              "fileName": "5537c6ab5f1065d401ce049e_1w6iAjLXSHa5OYRSYAjd__MG_1162-500px.jpg",
              "origFileName": "1w6iAjLXSHa5OYRSYAjd__MG_1162-500px.jpg",
              "width": 500,
              "height": 500,
              "size": 49283,
              "type": "image"
            }] }
          </script>
        </a>
        <a class="w-lightbox w-inline-block grid-fours" href="#"><img class="profile_link" src="images/4e769802-500px.jpg">
          <script type="application/json" class="w-json">
            { "items": [{
              "url": "images/4e769802-500px.jpg",
              "fileName": "5537c6ab76ee39080f7f1b88_4e769802-500px.jpg",
              "origFileName": "4e769802-500px.jpg",
              "width": 500,
              "height": 500,
              "size": 31974,
              "type": "image"
            }] }
          </script>
        </a>
      </div>
    </div>
    <div class="w-section section section-gray" id="contact">
      <div class="w-container">
        <div class="section-title-group">
          <h2 class="section-heading centered">Contact Form</h2>
          <div class="section-subheading center">Interested? We’d love to hear from you. Leave us a message!</div>
        </div>
        <div class="w-form form-wrapper squeezed">
          <form id="email-form" name="email-form" data-name="Email Form">
            <div class="w-row">
              <div class="w-col w-col-6 col-0">
                <input class="w-input form-field" id="name-7" type="text" placeholder="Name" name="name-7" data-name="Name 7">
              </div>
              <div class="w-col w-col-6 col-0">
                <input class="w-input form-field" id="email-9" type="email" placeholder="Email" name="email-9" data-name="Email 9" required="required">
              </div>
            </div>
            <textarea class="w-input form-field text-area" id="field-4" placeholder="Message" name="field-4" data-name="Field 4"></textarea><a class="button" href="mailto:trap.agustinaluciamiguel@gmail.com?subject=Trap%20App-%20Contact%20Form%20Submission">Submit</a>
          </form>
          <div class="w-form-done success-message">
            <p class="p-form">Thank you! Your submission has been received!</p>
          </div>
          <div class="w-form-fail success-message">
            <p class="p-form">Oops! Something went wrong while submitting the form :(</p>
          </div>
        </div>
      </div>
    </div>
    <footer class="w-section footer center">
      <div class="w-container">
        <div class="footer-text">Copyright Trap App. All rights reserved.</div>
      </div>
    </footer>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>