body {
  height: 100%;
  padding-left: 329px;
  background-color: #edeff2;
  font-family: Oswald, sans-serif;
  color: rgba(0, 0, 0, 0.74);
  font-size: 16px;
  line-height: 20px;
}
h1 {
  width: 100%;
  margin-bottom: 10px;
  float: none;
  color: #2d3e4f;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
  text-decoration: underline;
}
h2 {
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin-bottom: 10px;
  color: #313131;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}
h4 {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  width: 173px;
  margin-bottom: 0px;
  padding: 0px;
  border: 1px solid #b8b8b8;
  font-family:'Droid Sans', sans-serif;
  font-size: 15px;
}
.button {
  display: inline-block;
  width: 419px;
  margin-left: 15px;
  padding: 12px 20px;
  border-radius: 4px;
  background-color: #cf404d;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: white;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background-color: black;
}
.button.w--current {
  background-color: #2e80b6;
}
.button.full-width {
  display: block;
  width: 100%;
}
.brand-text {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #cf404d;
  font-size: 30px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
}
.section {
  position: relative;
  padding: 63px 40px;
  background-color: white;
}
.section.section-gray {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  background-color: #fafafa;
}
.call-to-action-section {
  padding: 44px 40px 6px;
  background-color: #cf404d;
  color: white;
}
.call-to-action-heading {
  margin-top: -29px;
  margin-bottom: 0px;
  font-weight: 400;
}
.align-right {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  text-align: right;
}
.hero-heading {
  margin-bottom: 19px;
  color: white;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
}
.hero-subheading {
  margin-bottom: 25px;
  color: #f7adad;
}
.hollow-button {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  padding: 11px 20px;
  border: 2px solid #1db0fc;
  border-radius: 4px;
  -webkit-transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  color: #1db0fc;
  line-height: 21px;
  text-decoration: none;
}
.hollow-button:hover {
  border-color: black;
  color: black;
}
.hollow-button.white {
  margin-top: 0px;
  margin-bottom: 0px;
  float: none;
  clear: none;
  border-color: white;
  color: white;
}
.hollow-button.white:hover {
  border-color: #2d3e4f;
  background-color: #2d3e4f;
  color: white;
}
.hollow-button.red {
  border-color: #cf404d;
  background-color: #cf404d;
  color: white;
}
.hollow-button.red:hover {
  background-color: transparent;
}
.hollow-button.bottomsmall.bottomland {
  margin-top: -1px;
  margin-bottom: 0px;
  padding-top: 1px;
}
.section-heading {
  margin-top: 0px;
  margin-bottom: 16px;
}
.section-heading.centered {
  color: #313131;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.section-subheading.center {
  font-family:'Droid Sans', sans-serif;
  color: rgba(115, 115, 115, 0.74);
  font-size: 19px;
  line-height: 30px;
  text-align: center;
}
.section-title-group {
  margin-bottom: 62px;
}
.form-field {
  min-height: 45px;
  margin-right: 1px;
  margin-bottom: 17px;
  border: 0px solid black;
  border-radius: 3px;
  box-shadow: rgba(64, 64, 71, 0.29) 0px 0px 0px 1px;
}
.form-field:focus {
  box-shadow: #2e80b6 0px 0px 0px 1px;
}
.form-field.text-area {
  min-height: 110px;
}
.form-wrapper.squeezed {
  padding-right: 19%;
  padding-left: 19%;
}
.social-icon-link {
  padding: 3px;
  opacity: 0.66;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}
.social-icon-link:hover {
  opacity: 1;
}
.footer {
  padding-top: 35px;
  padding-bottom: 35px;
}
.footer.center {
  padding-top: 21px;
  padding-bottom: 21px;
  text-align: center;
}
.footer-text {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}
.link {
  display: block;
  margin-bottom: 10px;
  color: #cf404d;
  text-decoration: none;
}
.link:hover {
  color: #30ad64;
}
.grid-image {
  margin-bottom: 19px;
  background-image: url('../images/example-bg.png'), url('../images/example-bg.png');
}
.hero-title-wrapper {
  position: relative;
  top: 40%;
  margin-bottom: 155px;
  text-align: center;
}
.left-navigation {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 329px;
  height: 100%;
  margin-left: 0px;
  background-color: #2d3e4f;
}
.nav-link {
  display: block;
  padding: 20px 0px;
  color: white;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
}
.nav-link:hover {
  color: #cf404d;
}
.nav-link.w--current {
  color: #cf404d;
}
.nav-menu {
  float: none;
}
.logo-link {
  display: block;
  margin-top: 216px;
  margin-bottom: 50px;
  float: none;
  text-align: center;
}
.social-footer {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin-bottom: 16px;
  text-align: center;
}
.grid-fours {
  width: 25%;
  padding: 10px;
  float: left;
}
.banner {
  height: 100%;
  margin-left: -294px;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.49)), url('../images/2e9b0cb2.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.49)), url('../images/2e9b0cb2.jpg');
  background-position: 0% 0%, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}
.col-spc {
  margin-top: 0px;
  padding: 0px 0px 0px 89px;
  color: transparent;
}
.content {
  height: 100%;
}
.success-message {
  text-align: center;
}
.p-form {
  margin-bottom: 0px;
}
.firstname {
  width: 400px;
  margin-left: 0px;
}
.fn {
  margin-top: -32px;
}
.emailadd {
  width: 400px;
}
.profile_link {
  opacity: 0.36;
  -webkit-transform: translate(15px, -5px);
  -ms-transform: translate(15px, -5px);
  transform: translate(15px, -5px);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
.gridimage1 {
  background-image: none;
  background-position: 0% 0%;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
}
.loginform {
  margin-top: 193px;
  margin-left: -115px;
}
.username {
  width: 600px;
  padding-right: 0px;
}
.password {
  width: 600px;
}
.submitbutton {
  margin-top: 8px;
  margin-left: 266px;
}
.login-body {
  padding-left: 0px;
}
.signup-section {
  width: auto;
  height: 100%;
  min-width: 630px;
  margin-left: 0px;
  padding-left: 66px;
  float: right;
  background-color: #2d3e4f;
}
.login-section {
  width: auto;
  height: 100%;
  min-width: 650px;
  margin-left: 0px;
  float: left;
  background-color: #fafafa;
}
.login-container {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
}
.login-form {
  width: 300px;
  margin-top: 235px;
  margin-left: 52px;
}
.login-button {
  width: 175px;
  margin-top: 18px;
  margin-left: 57px;
  color: #cf404d;
}
.login-username-labe {
  color: #cf404d;
}
.login-password-label {
  color: #cf404d;
}
.login-heading {
  position: fixed;
  left: 211px;
  top: 126px;
  right: 0px;
  width: 100px;
  margin-top: -77px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: #cf404d;
}
.signup-form {
  width: 300px;
  margin-top: 15px;
  margin-right: 0px;
  margin-left: 125px;
  padding-right: 1px;
}
.signup-firstname-label {
  color: #cf404d;
}
.signup-lastname-label {
  color: #cf404d;
}
.signup-firstname {
  width: 300px;
  height: 20px;
}
.signup-lastname {
  width: 300px;
  height: 20px;
}
.signup-button {
  width: 175px;
  margin-top: 0px;
  margin-left: 62px;
  color: #cf404d;
}
.signup-username {
  width: 300px;
  height: 20px;
}
.signup-password-label {
  color: #cf404d;
}
.signup-password {
  width: 300px;
  height: 20px;
}
.signup-verifypw-label {
  color: #cf404d;
}
.signup-verifpw {
  width: 300px;
  height: 20px;
}
.signup-form-holder {
  margin-top: 59px;
  margin-left: -92px;
}
.signup-email-label {
  color: #cf404d;
}
.signup-email {
  width: 300px;
  height: 20px;
}
.signup-location-label {
  color: #cf404d;
}
.signup-location {
  width: 300px;
  height: 20px;
}
.signup-display-label {
  color: #cf404d;
}
.signup-display {
  width: 300px;
  height: 20px;
}
.signup-genre-label {
  color: #cf404d;
}
.signup-genre {
  width: 300px;
  height: 20px;
}
.signup-header {
  position: fixed;
  top: 15px;
  right: 324px;
  color: #cf404d;
}
.signup-username-label {
  color: #cf404d;
}
.forgotpwlink {
  margin-left: 181px;
}
.artistprofile-body {
  box-shadow: black 0px 0px 3px 0px;
}
.ap-header {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  width: auto;
  height: 250px;
  margin-left: -330px;
  background-color: #2d3e4f;
}
.ap-artistimage {
  position: relative;
  left: 0px;
  top: 0px;
  margin-top: 65px;
  margin-left: 93px;
  padding-top: 0px;
}
.ap-businesscard {
  position: static;
  left: 306px;
  top: 556px;
  right: 150px;
  width: 250px;
  margin-top: 0px;
  margin-left: 0px;
  padding: 5px;
  border: 4px solid #d68989;
  background-color: #ebebed;
  background-image: url('../images/papertexture2.jpg');
  background-size: 314px;
  color: #cf404d;
}
.ap-businesscard-nameblock {
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.ap-businesscard-label {
  padding-bottom: 20px;
}
.ap-scancount-flame {
  position: relative;
  top: -11px;
  right: 0px;
  margin-top: 48px;
  margin-right: 83px;
  margin-left: 0px;
  padding-left: 0px;
  float: right;
  clear: none;
}
.ap-scancount-count {
  position: relative;
  left: -2px;
  top: 150px;
  right: 233px;
  bottom: 54px;
  width: 50px;
  height: 30px;
  margin: -35px -112px 0px 0px;
  float: right;
  color: rgba(255, 255, 255, 0.74);
  font-size: 24px;
  font-weight: 700;
}
.ap-businesscard-number {
  padding-bottom: 10px;
}
.ap-track-section {
  display: block;
  overflow-x: scroll;
  overflow-y: scroll;
  width: 1000px;
  height: 100%;
  min-width: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -291px;
  clear: none;
  background-color: transparent;
}
.ap-tracklist {
  width: 400px;
  margin-left: 453px;
}
.ap-artist1 {
  margin-top: 10px;
  margin-left: 16px;
  padding-bottom: 12px;
}
.ap-sound-container {
  width: 700px;
  height: 123px;
  margin-top: -135px;
  margin-left: 220px;
}
.ap-playbutton {
  width: 75px;
  height: 75px;
  margin-top: 0px;
  margin-left: 2px;
}
.ap-soundholder {
  width: 600px;
  height: 95px;
  margin-top: -82px;
  margin-left: 87px;
  border: 0px solid black;
  box-shadow: none;
}
.ap-trackname {
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  border: 1px solid black;
}
.ap-listitem {
  width: auto;
  padding-top: 0px;
  padding-bottom: 4px;
}
.ap-imageheader {
  width: 172%;
  height: 400px;
  margin-left: -180px;
}
.ap-headerimage {
  width: 1000px;
  height: 400px;
  margin-left: -12px;
}
.ap-playlist2 {
  padding-top: 69px;
}
.ap-imageslider {
  background-image: url('../images/blueflame.jpg');
  background-position: 49% 0%;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.user-slider {
  position: static;
  background-image: url('../images/1fbb59d6-500px.jpg');
}
.user-slider-slide2 {
  position: relative;
  background-image: url('../images/1w6iAjLXSHa5OYRSYAjd__MG_1162-500px.jpg');
}
.slider-container {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
}
.user-section2 {
  position: static;
}
.user-header {
  position: static;
}
.zxcvx {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: inline-block;
  overflow-x: visible;
  overflow-y: visible;
  float: none;
  clear: none;
}
.sdfgfds {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.divvvvv {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.user-imageslider {
  display: block;
  margin: 0px;
}
.imageslidercontainer {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  margin: 0px auto;
  padding: 0px;
}
.headersection {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  float: right;
  clear: none;
  background-color: black;
}
.middlesection {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 0px;
  float: right;
  background-color: transparent;
}
.user-image {
  width: auto;
  padding: 40px;
  float: left;
  background-image: url('../images/social-15-white.svg');
}
.user-businesscard {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 38px 38px 38px 115px;
}
.scancount-pic {
  padding: 40px;
}
.user-body {
  padding-left: 0px;
}
.user-tracksection {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  overflow-x: visible;
  overflow-y: visible;
  width: 100%;
  height: 260px;
  float: right;
  clear: none;
  border: 0px solid black;
  background-color: rgba(0, 0, 0, 0.74);
  background-image: url('../images/papertexture.jpg');
}
.trackscontainer {
  height: 250px;
  margin-top: 0px;
  background-color: #ededed;
}
.trackscontainer.tracks {
  margin-top: -4px;
}
.album-image-section {
  position: static;
  left: 0px;
  top: 0px;
  bottom: 0px;
  display: block;
  padding-top: 0px;
  padding-right: 10px;
  padding-left: 10px;
}
.track-holder {
  height: 178px;
  padding-right: 0px;
  padding-left: 0px;
}
.album-image-holder {
  padding: 0px;
}
.albumimage {
  width: 400px;
  margin-top: 0px;
  margin-left: 4px;
  padding: 0px;
}
.tracks-div {
  height: 100%;
}
.track1 {
  width: 716px;
  height: 157px;
  margin-top: 59px;
  margin-left: -6px;
  padding-top: 0px;
  padding-right: 10px;
  padding-left: 1px;
  border: 2px solid #b8b8ba;
  border-radius: 0px;
  background-color: #f0f0f0;
}
.track1.spotlightcontainer {
  height: 104px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-width: 0px;
}
.playbuttonpic {
  width: 73px;
  margin-top: 27px;
  padding: 5px;
}
.song1 {
  width: 626px;
  height: 30px;
  margin-left: 0px;
  float: right;
}
.top3header {
  position: absolute;
  left: 297px;
  top: 6px;
  right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  font-family: Oswald, sans-serif;
  text-shadow: #fff200 -5px -3px 48px;
}
.user-p {
  width: 637px;
}
.user-p.spotlight-p {
  height: 62px;
  padding: 21px;
}
.main-p {
  width: 172px;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.main-p.hidden_text {
  position: static;
  width: 275px;
  margin-top: 7px;
  padding: 3px;
  border-width: 2px;
  border-color: #bf3a30;
  background-color: #2d3e4f;
  color: #ffcfcc;
  list-style-type: disc;
}
.usersliderimg1 {
  position: fixed;
  width: 972px;
  margin-right: auto;
  margin-left: 0px;
  background-image: url('../images/artist1.jpg');
  background-position: 50% -68px;
  background-size: cover;
}
.gallery-section {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 465px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  float: right;
  background-color: black;
}
.gallery-container {
  position: relative;
  margin-top: 1px;
}
.gallery-img-1strow {
  padding: 46px;
}
.gallery-second-row {
  margin-top: -28px;
  margin-right: 45px;
  margin-left: 0px;
  padding-left: 0px;
  float: right;
}
.gallery-img-2ndrow {
  padding: 46px;
}
.galleryimg {
  width: 400px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: 271px;
  padding-left: 0px;
}
.qrcodeimg {
  width: 135px;
  padding-top: 0px;
  padding-left: 0px;
  float: none;
}
.mainrow {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  float: none;
  clear: none;
}
.leftheader-login {
  display: inline-block;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 151px;
  color: #cf404d;
}
.clickhere {
  width: 100px;
  height: 78px;
  margin-top: 0px;
  margin-left: -97px;
  padding-top: 34px;
  padding-right: 0px;
  padding-left: 0px;
  float: none;
  background-color: transparent;
  box-shadow: #2d3e4f 0px -28px 0px 0px;
  color: #bf3a30;
}
.clickit {
  position: relative;
  width: 75px;
  margin-top: -120px;
  margin-left: -187px;
  padding-bottom: 101px;
}
.clicklabel {
  margin-top: -40px;
  margin-left: -19px;
  color: #f10;
  text-shadow: #fff200 0px 0px 33px;
}
.clicklabel._2 {
  margin-top: -50px;
}
.rbody {
  padding-left: 0px;
}
.lsbody {
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
  background-color: #bf3a30;
}
.lsheadersection {
  width: 100%;
  background-color: transparent;
}
.lsheadercolumns {
  width: 100%;
}
.lsloginheader {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 167px;
  color: #bf3a30;
}
.lscolumn {
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: #2d3e4f;
}
.lscolumn2 {
  padding-right: 0px;
  padding-left: 10px;
  background-color: #bf3a30;
}
.lsheading2 {
  margin-right: auto;
  margin-left: auto;
  padding-left: 180px;
  border-left-style: none;
  border-left-color: white;
  background-color: transparent;
  color: #2d3e4f;
}
.lsformsection {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
}
.lsformrow {
  background-color: transparent;
}
.lsformcolumn1 {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: #bf3a30;
}
.lsformcolumn2 {
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  background-color: #2d3e4f;
}
.lsloginsubmit {
  display: block;
  width: 150px;
  margin-top: 41px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 12px;
  background-color: #2d3e4f;
  color: #bf3a30;
}
.lsloginform {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 100px;
}
.lslogintextlabel {
  opacity: 1;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: white;
}
.lssignuptextlabel {
  color: white;
}
.lssignupsubmit {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #bf3a30;
  color: #2d3e4f;
}
.lssignupformwrapper {
  margin-right: auto;
  margin-left: auto;
}
.lssignupinput {
  width: 220px;
  height: 27px;
  margin-left: 111px;
  padding: 0px;
}
.lssignupformform {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 101px;
}
.lslogintext {
  display: block;
  margin: auto;
  padding-left: 98px;
}
.lssignuptext {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-left: 63px;
  color: #bf3a30;
}
.backbutton {
  padding: 0px 18px;
  border: 4px solid #2d3e4f;
  border-radius: 3px;
  direction: ltr;
  color: #2d3e4f;
  font-size: 25px;
  font-style: normal;
  list-style-type: disc;
}
.backbutton:hover {
  background-color: white;
  color: #2d3e4f;
}
.backbuttondiv {
  width: 100px;
  height: 17px;
  margin-top: 15px;
}
.fheadersection {
  position: relative;
  padding-top: 25px;
  border: 1px solid #bec3c7;
  background-color: #bf3a30;
}
.fbody {
  padding-left: 0px;
  background-color: #2d3e4f;
}
.fheadercontainer {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 10px;
  padding-left: 10px;
}
.ffollowers {
  display: none;
  margin-right: auto;
  margin-left: auto;
  float: left;
}
.ffollowerslink {
  padding: 60px;
}
.flikesdiv {
  clear: none;
}
.ffollwerslink {
  padding: 35px;
}
.ffollowingdiv {
  float: left;
}
.ffollowerss {
  width: auto;
  margin-bottom: 0px;
}
.ffollowerslink1 {
  display: none;
  padding: 0px 10px 35px 0px;
  color: #2d3e4f;
  text-decoration: underline;
}
.ffollowerslink2 {
  display: inline;
  width: auto;
  margin-bottom: 0px;
  padding: 35px 10px 35px 0px;
}
.ffollowerslink3 {
  display: none;
  padding: 35px 10px;
  float: none;
  font-style: normal;
  text-decoration: underline;
}
.fhomelink {
  width: 150px;
  float: right;
}
.fhomelinkblock {
  position: absolute;
  top: 0px;
  right: 0px;
  float: right;
  clear: both;
}
.fhomelinkheading {
  width: auto;
  margin-top: 70px;
  padding: 35px;
  text-decoration: underline;
}
.ffollowerssection {
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 0px;
  background-color: #2d3e4f;
}
.flikeslinkblock {
  position: static;
  display: block;
  margin-right: auto;
  margin-left: auto;
  float: left;
  clear: none;
}
.fuserimg {
  display: inline;
  margin-top: 0px;
  margin-left: 25px;
  padding: 0px 0px 50px;
  float: left;
}
.fusernamedisplay {
  position: static;
  top: 0px;
  right: 0px;
  display: inline;
  width: 10%;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 0px 0px 0px 25px;
  float: none;
  clear: right;
}
.fusernamedisplay:hover {
  background-color: transparent;
  color: white;
}
.fuserdisplay {
  width: 1625px;
}
.ffollowerscontainer {
  display: block;
  padding-left: 35px;
}
.ffollowerlink {
  padding: 15px;
  float: left;
}
.ffollowersdiv {
  width: 200px;
  float: left;
}
.ffollowerslinkimg {
  margin-top: 10px;
  padding: 5px;
  float: none;
}
.ffollowersusername {
  width: 200px;
  padding-left: 65px;
  color: #bf3a30;
}
.ffollowerslikeslink {
  display: none;
  padding-right: 10px;
  padding-bottom: 34px;
  text-decoration: underline;
}
.ffollowersplaylistslink {
  display: none;
  padding-right: 10px;
  padding-bottom: 35px;
  text-decoration: underline;
}
.flikessection {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  background-color: #bf3a30;
}
.flikesheaderdiv {
  width: 100%;
  float: none;
}
.flikesheadertext {
  margin-bottom: 10px;
  margin-left: 0px;
  float: left;
}
.fplaylistssection {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #2d3e4f;
}
.fplaylistsheadertext {
  color: #bf3a30;
}
.fplaylistsheadertext:hover {
  background-color: transparent;
  color: white;
}
.flikesheaderdiv2 {
  float: left;
}
.ffollowingsection {
  position: relative;
  padding-left: 0px;
  background-color: #bf3a30;
}
.ffollowingheadertext:hover {
  background-color: transparent;
  color: white;
}
.ffollowingbodycontainer {
  padding-left: 35px;
}
.ffollowingusername {
  color: #2d3e4f;
}
.ffollowersheadertext {
  float: left;
  color: #bf3a30;
}
.ffollowersheadertext:hover {
  color: white;
}
.ffollowersheaderdiv {
  width: 100%;
}
.ffollowinglinkblock {
  display: none;
}
.flikesheadertext2 {
  background-color: transparent;
}
.flikesheadertext2:hover {
  background-color: transparent;
  color: white;
}
.main-p2 {
  width: 275px;
  border-width: 2px;
  border-color: #bf3a30;
  background-color: #2d3e4f;
  color: #ffcfcc;
}
.main-p3 {
  width: 240px;
  border-width: 2px;
  border-color: #bf3a30;
  background-color: #2d3e4f;
  color: #ffcfcc;
}
.click1div {
  margin-top: 0px;
  margin-bottom: -66px;
  margin-left: -72px;
  padding-top: 0px;
  color: #bf3a30;
}
html.w-mod-js *[data-ix="fade-in-bottom-page-loads"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}
html.w-mod-js *[data-ix="fade-in-left-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(-50px, 0px);
  -ms-transform: translate(-50px, 0px);
  transform: translate(-50px, 0px);
}
html.w-mod-js *[data-ix="fade-in-right-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(50px, 0px);
  -ms-transform: translate(50px, 0px);
  transform: translate(50px, 0px);
}
html.w-mod-js *[data-ix="fade-in-top-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  transform: translate(0px, -50px);
}
html.w-mod-js *[data-ix="fade-in-bottom-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}
html.w-mod-js *[data-ix="bounce-in-scroll-in"] {
  opacity: 0;
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
}
html.w-mod-js *[data-ix="scale-on-scroll"] {
  opacity: 0;
  -webkit-transform: scale(0.01);
  -ms-transform: scale(0.01);
  transform: scale(0.01);
}
html.w-mod-js *[data-ix="display-on-click"] {
  display: none;
  height: 0px;
}
html.w-mod-js *[data-ix="magic"] {
  display: block;
  opacity: 1;
  height: auto;
}
html.w-mod-js *[data-ix="fade-in-buttons"] {
  display: block;
  opacity: 0;
}
html.w-mod-js *[data-ix="click-here-scroll-animtation"] {
  display: block;
}
html.w-mod-js *[data-ix="following-openclose"] {
  display: block;
}
html.w-mod-js *[data-ix="following-div-initial-display"] {
  display: none;
}
html.w-mod-js *[data-ix="profile-drop-down"] {
  display: block;
  opacity: 1;
}
html.w-mod-js *[data-ix="display-on-click-2"] {
  opacity: 0;
  height: 0px;
}
html.w-mod-js *[data-ix="display-on-click-3"] {
  opacity: 0;
  height: 0px;
}
html.w-mod-js *[data-ix="maps-drop-down"] {
  display: block;
  opacity: 1;
}
@media (max-width: 991px) {
  body {
    margin-left: 0px;
    padding-left: 0px;
  }
  .button {
    margin-left: 70px;
  }
  .hamburger-button {
    color: white;
  }
  .hamburger-button.w--open {
    background-color: #cf404d;
  }
  .hollow-button.white {
    margin-top: 77px;
    margin-right: 24px;
    padding-right: 21px;
  }
  .hollow-button.white.landscape.tablet {
    margin-left: 50px;
  }
  .hollow-button.bottom.lanscape.tablet {
    margin-top: 64px;
    border-color: white;
    color: white;
  }
  .form-wrapper.squeezed {
    padding-right: 8%;
    padding-left: 8%;
  }
  .hero-title-wrapper {
    top: 40%;
    margin-left: 0px;
  }
  .left-navigation {
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: auto;
    width: 100%;
    height: auto;
    float: none;
  }
  .nav-link {
    padding-left: 13px;
    text-align: left;
  }
  .nav-menu {
    background-color: #49647b;
  }
  .logo-link {
    margin-top: 14px;
    margin-bottom: 0px;
    margin-left: 10px;
    float: left;
  }
  .social-footer {
    position: absolute;
    display: inline-block;
  }
  .banner {
    height: 500px;
    margin-left: 0px;
  }
  .col-spc {
    padding-left: 56px;
  }
  .signupform {
    margin-top: -102px;
    margin-bottom: 20px;
  }
  .signupform.tablet {
    margin-top: -86px;
  }
  .signupform.small {
    margin-top: -25px;
  }
  .ap-header {
    margin-left: 0px;
  }
  .ap-businesscard {
    left: -67px;
  }
  .ap-scancount-flame {
    top: 0px;
    right: -43px;
    bottom: 0px;
  }
  .ap-scancount-count {
    right: 191px;
  }
  .user-image {
    margin-top: 24px;
    padding: 24px;
  }
  .user-businesscard {
    left: -45px;
  }
  .scancount-pic {
    margin-top: 24px;
    padding: 24px;
  }
  .albumimage {
    margin-top: 24px;
  }
  .track1 {
    border-width: 0px;
    background-color: transparent;
  }
  .track1.spotlightcontainer {
    background-color: transparent;
  }
  .top3header {
    left: 225px;
    right: 7px;
    margin-left: 0px;
  }
  .user-p {
    width: 479px;
  }
  .user-p.spotlight-p {
    width: 476px;
    padding: 21px;
  }
  .main-p.hidden_text {
    width: 225px;
    color: #f7cecb;
  }
  .gallery-section {
    height: 375px;
  }
  .gallery-img-1strow {
    padding: 20px;
  }
  .galleryimg {
    width: 350px;
    margin-top: 7px;
    margin-left: 193px;
  }
  .leftheader-login {
    margin-top: 12px;
    padding-top: 0px;
    padding-bottom: 6px;
    padding-left: 0px;
    float: right;
  }
  .lsloginheader {
    padding-left: 128px;
  }
  .lscolumn2 {
    padding-left: 500px;
  }
  .lsheading2 {
    padding-left: 0px;
  }
  .lsloginform {
    padding: 53px;
  }
  .lssignupformform {
    padding: 37px;
  }
  .lssignuptext {
    padding-left: 75px;
  }
  .main-p2 {
    width: 225px;
  }
  .main-p3 {
    width: 200px;
  }
}
@media (max-width: 767px) {
  h3 {
    margin-top: 10px;
    margin-bottom: 7px;
    margin-left: -157px;
    padding-top: 22px;
    padding-left: 0px;
    font-size: 28px;
  }
  p {
    margin-left: 197px;
  }
  .button {
    margin-left: 23px;
  }
  .section {
    padding-right: 10px;
    padding-left: 10px;
  }
  .call-to-action-heading {
    margin-bottom: 13px;
    text-align: center;
  }
  .align-right {
    text-align: center;
  }
  .hero-heading {
    font-size: 37px;
  }
  .hollow-button.white {
    margin-top: 53px;
    margin-right: -437px;
    margin-bottom: -23px;
    padding-top: 6px;
    padding-left: 20px;
  }
  .hollow-button.white.landscape {
    margin-right: -430px;
    margin-left: -420px;
  }
  .hollow-button.bottom.lanscape {
    margin-left: 420px;
    padding-top: 10px;
    border-color: white;
    color: white;
  }
  .hollow-button.bottomsmall.bottomland {
    margin: 0px -430px -11px auto;
    padding-top: 3px;
  }
  .hollow-button.bottomsmall.bottombottom {
    margin-left: 0px;
  }
  .hollow-button.bottomland {
    margin-right: -434px;
  }
  .link {
    margin-left: 246px;
    float: left;
  }
  .hero-title-wrapper {
    top: 35%;
  }
  .grid-fours {
    width: 33.333%;
  }
  .col-spc {
    margin-bottom: 15px;
    padding-left: 0px;
    text-align: center;
  }
  .col-0 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .signupform {
    margin-top: -81px;
    margin-bottom: 21px;
    padding-top: 0px;
  }
  .ap-artistimage {
    left: -75px;
  }
  .ap-businesscard {
    right: -72px;
    margin-right: 0px;
    margin-left: 204px;
    padding-right: 0px;
  }
  .ap-scancount-flame {
    margin-right: 40px;
  }
  .ap-scancount-count {
    margin-right: -153px;
  }
  .ap-track-section {
    width: 300px;
    margin-left: 149px;
  }
  .ap-tracklist {
    margin-left: 79px;
  }
  .ap-playbutton {
    margin-top: 8px;
  }
  .user-image {
    padding: 0px;
  }
  .user-businesscard {
    padding: 0px;
  }
  .scancount-pic {
    margin-top: 21px;
    padding: 0px;
    float: right;
    clear: none;
  }
  .user-tracksection {
    margin-top: 0px;
  }
  .album-image-section {
    height: 76px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .albumimage {
    width: 60px;
    margin-top: 34px;
    margin-left: -4px;
  }
  .tracks-div {
    margin-top: -129px;
  }
  .track1 {
    margin-top: 118px;
  }
  .playbuttonpic {
    margin-top: 78px;
    margin-left: 3px;
  }
  .top3header {
    margin-top: -68px;
    margin-bottom: auto;
  }
  .main-p {
    width: 194px;
    margin-bottom: 1px;
    margin-left: 180px;
    padding-bottom: 0px;
    float: none;
    font-family:'Droid Sans', sans-serif;
  }
  .main-p.hidden_text {
    overflow-x: visible;
    overflow-y: visible;
    margin-top: 29px;
    margin-left: 0px;
    float: none;
    clear: none;
  }
  .gallery-img-1strow {
    width: 142px;
    padding: 14px;
  }
  .galleryimg {
    width: 350px;
    margin-top: 15px;
    margin-left: 110px;
    padding: 0px;
  }
  .qrcodeimg {
    width: 200px;
    margin-left: 0px;
  }
  .mainrow {
    margin-left: 0px;
    padding-left: 187px;
  }
  .leftheader-login {
    padding-right: 14px;
  }
  .mapsimg {
    margin-left: 34px;
  }
  ._2ndimg {
    margin-top: 0px;
    margin-left: 32px;
  }
  .clickit {
    margin-top: -180px;
    padding-bottom: 158px;
  }
  .clicklabel {
    margin-left: 3px;
  }
  .lssignupsubmit {
    width: 150px;
    margin-top: 41px;
  }
  .lslogintext {
    padding-left: 177px;
  }
  .lssignuptext {
    padding-left: 163px;
  }
  .main-p2 {
    margin-left: 0px;
  }
  .main-p3 {
    margin-left: 0px;
  }
  .click1div {
    width: auto;
    margin-top: 40px;
    margin-left: -434px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media (max-width: 479px) {
  h3 {
    margin-top: 27px;
    margin-right: auto;
    margin-left: auto;
  }
  p {
    margin-left: 76px;
  }
  .button {
    width: 200px;
    margin-left: 39px;
  }
  .call-to-action-heading {
    margin-top: -39px;
    padding-top: 2px;
    padding-bottom: 40px;
  }
  .call-to-action-heading.smallheading {
    margin-top: -43px;
    padding-bottom: 102px;
  }
  .hollow-button.white {
    position: static;
    overflow-x: visible;
    overflow-y: visible;
    width: auto;
    margin-top: 50px;
    margin-right: 4px;
    margin-left: 1px;
    padding: 10px 17px;
    float: none;
    clear: none;
  }
  .hollow-button.bottom {
    margin-right: -204px;
    border-color: white;
    background-color: transparent;
    color: white;
  }
  .hollow-button.bottomsmall {
    margin-top: 11px;
    margin-right: -213px;
    margin-bottom: 0px;
    border-color: white;
    color: white;
  }
  .hollow-button.bottomsmall.bottomland {
    margin-right: -210px;
    margin-bottom: 50px;
    margin-left: auto;
  }
  .form-wrapper.squeezed {
    padding-right: 2%;
    padding-left: 2%;
  }
  .link {
    margin-left: 122px;
  }
  .hero-title-wrapper {
    top: 28%;
  }
  .banner {
    height: 450px;
  }
  .firstname {
    width: 175px;
  }
  .emailadd {
    width: 175px;
  }
  .signupform {
    margin-top: -96px;
    padding-top: 0px;
  }
  .signupform.small {
    margin-top: -156px;
  }
  .ap-businesscard {
    margin-left: 80px;
    padding-top: 0px;
  }
  .user-image {
    margin-top: 20px;
    margin-left: 81px;
    padding-bottom: 16px;
  }
  .scancount-pic {
    margin-top: 17px;
    margin-right: 79px;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 16px;
  }
  .album-image-section {
    margin-top: 5px;
    padding-top: 0px;
  }
  .track-holder {
    margin-top: -50px;
  }
  .album-image-holder {
    margin-top: 1px;
  }
  .albumimage {
    display: block;
    width: 68px;
    margin-top: 29px;
    padding-top: 0px;
  }
  .track1 {
    height: 154px;
    margin-top: 179px;
  }
  .playbuttonpic {
    margin-top: 45px;
  }
  .top3header {
    margin-top: -19px;
    margin-left: -110px;
  }
  .user-p.spotlight-p {
    width: 300px;
    height: 52px;
  }
  .main-p {
    margin-left: 54px;
  }
  .main-p.hidden_text {
    margin-right: auto;
    margin-left: auto;
  }
  .usersliderimg1 {
    position: static;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    background-position: 0% 0px;
  }
  .gallery-section {
    height: 300px;
  }
  .gallery-container {
    height: 300px;
    margin-top: 0px;
  }
  .gallery-img-1strow {
    width: 400px;
    height: 100%;
    margin: 29px auto 0px;
    padding: 0px;
  }
  .imggholder {
    margin-top: 0px;
    padding-top: 0px;
  }
  .bluebackground {
    margin-top: 0px;
    padding-top: 0px;
  }
  .galleryimg {
    width: 350px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
  }
  .top3headerdiv {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
  }
  .qrcodeimg {
    margin-top: -60px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .mainrow {
    padding-left: 0px;
  }
  .mapsimg {
    margin-top: 43px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
  }
  ._2ndimg {
    margin-top: -70px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .clickit {
    margin-top: -143px;
    margin-left: -186px;
    padding-bottom: 137px;
  }
  .clickitmobile {
    margin-top: -59px;
    margin-bottom: 0px;
    margin-left: -230px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #f02011;
  }
  .clickitmobile._2 {
    margin-top: 7px;
    padding-top: 52px;
    padding-bottom: 0px;
  }
  .lslogintext {
    padding-left: 57px;
  }
  .lssignuptext {
    padding-left: 40px;
  }
  .ffollowerslink1 {
    display: inline;
    padding: 0px 10px 0px 0px;
    float: none;
    font-size: 20px;
  }
  .ffollowerslink2 {
    display: inline;
    padding: 0px 0px 0px 101px;
    float: none;
  }
  .ffollowerslink3 {
    display: inline;
    padding: 0px;
    float: none;
    font-size: 20px;
  }
  .fuserimg {
    margin-left: 50px;
    padding-left: 0px;
  }
  .fusernamedisplay {
    padding-left: 70px;
  }
  .ffollowerslikeslink {
    font-size: 20px;
  }
  .ffollowersplaylistslink {
    font-size: 20px;
  }
}

