<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Fri Jul 10 2015 02:16:33 GMT+0000 (UTC) -->
<html data-wf-site="5588e8bd52a311f7085f67e3" data-wf-page="5592202e3d3bb57f12a39048">
<head>
  <meta charset="utf-8">
  <title>usser profile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Webflow">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
  <link rel="stylesheet" type="text/css" href="css/officialtrapapp.webflow.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Oswald:300,400,700","Droid Sans:400,700","Roboto:300,regular,500"]
      }
    });
  </script>
  <script type="text/javascript" src="js/modernizr.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="https://daks2k3a4ib2z.cloudfront.net/img/favicon.ico">
  <link rel="apple-touch-icon" href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png">
</head>
<body class="w-clearfix user-body">
  <div class="w-section headersection">
    <div class="w-container imageslidercontainer">
      <div class="w-slider user-imageslider" data-animation="slide" data-duration="500" data-infinite="1">
        <div class="w-slider-mask">
          <div class="w-slide usersliderimg1"></div>
          <div class="w-slide"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section middlesection">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-3 w-clearfix bluebackground"><img class="user-image" src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg">
        </div>
        <div class="w-col w-col-6 user-businesscard">
          <div class="ap-businesscard">
            <div class="ap-businesscard-nameblock">Name</div>
            <div class="ap-businesscard-label">Company</div>
            <div class="ap-businesscard-number">Email // Phone Number</div>
          </div>
        </div>
        <div class="w-col w-col-3 user-scancount">
          <a class="w-inline-block" href="followers.html"><img class="scancount-pic" src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section user-tracksection">
    <div class="w-container trackscontainer">
      <div>
        <div class="w-row">
          <div class="w-col w-col-3 album-image-section"></div>
          <div class="w-col w-col-9 track-holder">
            <div class="top3headerdiv">
              <h1 class="top3header">SPOTLIGHT</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section user-tracksection">
    <div class="w-container trackscontainer tracks">
      <div>
        <div class="w-row">
          <div class="w-col w-col-3 album-image-section">
            <div class="album-image-holder"></div>
          </div>
          <div class="w-col w-col-9 track-holder">
            <div>
              <h1 class="top3header">TRACKS</h1>
            </div>
            <div class="tracks-div"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section gallery-section">
    <div class="w-container gallery-container"><img class="galleryimg" src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg">
    </div>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>